* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.tools-toggle-container {
    height: 5rem;
    width: 5rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid lightgrey;
    cursor: pointer;
    background-color: #dfe4ea;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    user-select: none;
}

.material-icons {
    font-size: inherit;
}

.tools-container {
    height: 5rem;
    width: 50vw;
    background-color: #dfe4ea;
    position: absolute;
    top: 2rem;
    left: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation-name: scale-tools;
    animation-duration: 1.5s;
}

@keyframes scale-tools {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }
}

.tools-container > img {
    height: 75%;
    width: 100%;
    -webkit-user-drag: none;
    user-select: none;
}

.pencil-tools-container {
    height: 5rem;
    width: 8rem;
    position: absolute;
    top: 7rem;
    left: calc(25vw + 5rem);
    background-color: #dfe4ea;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
}

.pencil-width-container {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pencil-width-container input {
    width: 90%;
}

.pencil-color-container {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pencil-color {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.red{
    background-color: red;
}

.eraser-tool-container {
    height: 2.5rem;
    width: 7.5rem;
    position: absolute;
    top: 7rem;
    left: calc(25vw + 11.5rem);
    background-color: #dfe4ea;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
}

.eraser-width-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eraser-width-container input {
    width: 90%;
}

.sticky-container {
    height: 15rem;
    width: 15rem;
    position: absolute;
    top: 35vh;
    left: 10vw;
}

.header-container {
    height: 2rem;
    background-color: #dfe4ea;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-container > * {
    height: 1rem;
    width: 1rem;
    margin: 0.5rem;
    border-radius: 50%;
    z-index: 1100;
}

.minimize {
    background-color: #2ed573;
}

.remove {
    background-color: #ff4757;
}

.text-container {
    height: 13rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text-container > textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
}

.text-container > img {
    height: 100%;
    width: 100%;
}

canvas {
    height: 100%;
    width: 100%;
}

.eraser-active {
    cursor: url('./images/eraser.cur'), auto;
}

.pencil-active {
    cursor: url('./images/Large\ Pencil\ Dark\ Blue.cur'), auto;
}